<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<div th:insert="~{top :: menu}"></div>
<head>
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <meta charset="UTF-8">
  <title>목록</title>
</head>
<body>
<h1>게시판</h1>

<table border="1">
  <thead>
  <tr>
    <th>ID</th>
    <th>제목</th>
    <th>작성일</th>
    <th>태그</th>
    <th>이미지</th>
    <th>상태</th>
    <th>확인/삭제</th>
  </tr>
  </thead>
  <tbody>
  <tr th:each="board : ${boards}">
    <td th:text="${board.id}"></td>
    <td th:text="${board.title}"></td>
    <td th:text="${board.startTime}"></td>
    <td th:text="${board.tagName}"></td>
    <td>
      <img th:src="@{'data:image/jpeg;base64,' + ${board.base64ImgFile}}" alt="이미지 없음" width="90" height="120">
    </td>
    <td th:text="${board.confirm=='0'?'미확인':'확인'}" ></td>
    <td><a th:href="@{/confirm(bid=${board.id})}" id="confirm" >확인</a>
        <a th:href="@{/delete(bid=${board.id})}" id="deleteid">삭제</a></td>
  </tr>
  </tbody>
</table>
<script>
  $(document).ready(function(){
    $("#deleteid").on("click", function(event){
      event.preventDefault();
      if(confirm('정말로 삭제할까요?')) {
        window.location.href = $(this).attr("href");
      }
    });
  });
</script>
<!--  페이징 처리 -->

<div id="pagination">
  <!-- 이전 그룹 버튼 -->
  <a th:if="${startPage > 1}" th:href="@{/board(page=${startPage - 1}, size=${size})}">이전</a>

  <!-- 페이지네이션 (5개 단위) -->
  <span th:each="i : ${#numbers.sequence(startPage, endPage)}">
      <a th:if="${i != page}" th:href="@{/board(page=${i}, size=${size})}" th:text="${i}"></a>
      <span th:if="${i == page}" th:text="${i}" style="font-weight: bold;"></span>
    </span>

  <!-- 다음 그룹 버튼 -->
  <a th:if="${endPage < totalPages}" th:href="@{/board(page=${endPage + 1}, size=${size})}">다음</a>
</div>


</body>
</html>
