<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<div th:insert="~{top :: menu}"></div>
<head>
  <link th:href="@{/css/board_style.css}" rel="stylesheet">
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <meta charset="UTF-8">
  <title>목록</title>
</head>
<body>
<div id="table_page">
  <h3>탐지기록</h3>
  <div class="check_confirm">
  <form th:action="@{/user/board}" method="get">
    <label for="status">상태 선택: </label>
    <select name="status" id="status">
      <option value="all">전체</option>
      <option value="1">확인</option>
      <option value="0">미확인</option>
    </select>
    <button type="submit">검색</button>
  </form>
  </div>
  <table>
    <thead>
    <tr>
      <th>ID</th>
      <th>제목</th>
      <th>작성일</th>
      <th>태그</th>
      <th>이미지</th>
      <th>상태</th>
      <th>확인<br>삭제</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="board : ${boards}">
      <td th:text="${board.id}"></td>
      <td th:text="${board.title}"></td>
      <td th:text="${board.startTime}"></td>
      <td th:text="${board.tagName}"></td>
      <td>
        <img th:src="@{'data:image/jpeg;base64,' + ${board.base64ImgFile}}" alt="이미지 없음" width="90" height="120">
      </td>
      <td th:text="${board.confirm=='0'?'미확인':'확인'}" ></td>
      <td><a th:href="@{/user/confirm(bid=${board.id}, page=${page})}" id="confirm" >확인</a>
          <a th:href="@{/user/delete(bid=${board.id}, page=${page})}" class="deleteBtn">삭제</a></td>
    </tr>
    </tbody>
  </table>
  <script>
    $(document).ready(function(){
      $(document).on("click", ".deleteBtn", function(event){
    event.preventDefault();
    if(confirm('정말로 삭제할까요?')) {
      window.location.href = $(this).attr("href");
    }
      });
    });
  </script>
  <!--  페이징 처리 -->

  <div id="pagination">
    <!-- 이전 그룹 버튼 -->
    <a th:if="${startPage > 1}" th:href="@{/user/board(page=${startPage - 1}, size=${size},status=${status})}">이전</a>

    <!-- 페이지네이션 (5개 단위) -->
    <span th:each="i : ${#numbers.sequence(startPage, endPage)}">
        <a th:if="${i != page}" th:href="@{/user/board(page=${i}, size=${size}, status=${status})}" th:text="${i}"></a>
        <span th:if="${i == page}" th:text="${i}" style="font-weight: bold;"></span>
      </span>

    <!-- 다음 그룹 버튼 -->
    <a th:if="${endPage < totalPages}" th:href="@{/user/board(page=${endPage + 1}, size=${size}, status=${status})}">다음</a>
  </div>

</div>
</body>
</html>
