<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<div th:insert="~{top :: menu}"></div>
<head>
    <title>CCTV 분석 프로그램</title>
    <meta charset="utf-8">
    <meta name="viewport" content="height=device-height">
    <link th:href="@{/css/detect_style.css}" rel="stylesheet">
    <script src="https://unpkg.com/mqtt/dist/mqtt.min.js"></script>
</head>
<body>
<div id="cctv_setting_part">
    <div class="setting_lower_part">
    <form th:action="@{/cctv_link}" method="post" enctype="multipart/form-data" id="cctv_Link">
        <!-- CCTV 선택 -->
        <div class="choose_cctv">
            <h3>CCTV</h3>
            <select id="cctv_url" name="cctv_url">
                <option th:each="cctv : ${user_cctv_list}" th:value="${cctv.cctvurl}" th:text="${cctv.cctv_name}"</option>

            </select>

            <input type="hidden" id="cctv_name" name="cctv_name" value="default">
            <input type="hidden" id="detect_available" name="detect_available" value="">

        </div>

        <!-- 탐지할 객체 선택 -->
        <div class="choose_object">
            <h3>객체</h3>
            <select id="detect_objects" name="detect_objects">
                <option value="total_object">전체</option>
                <option value="car">승용차</option>
                <option value="bus">버스</option>
                <option value="truck">트럭</option>
                <option value="pickup_truck">픽업트럭</option>
                <option value="motor_cycle">오토바이</option>
            </select>
            <input type="submit" value="분석">
            <button type="button" onclick="setDetectAvailableExit()">종료</button>
            <script type="text/javascript" th:src="@{/script/detect_exit.js}"></script>
            <button type="button" th:onclick="|location.href='@{/cctv_add_auth}'|">CCTV 추가</button>
        </div>
    </form>
    </div>
    <script type="text/javascript" th:src="@{/script/cctv_detect.js}"></script>
    <script type="text/javascript" th:src="@{/script/update_cctvname.js}"></script>
    <script type="text/javascript" th:src="@{/script/detect_exit.js}"></script>

    <!-- 탐지 결과 표시 -->
    <div id="cctv_part">
        <div id="cctv_head">
            <h3 th:text="${(cctv_name != null ? cctv_name : '') + ' ' + (send_object != null ? send_object : '') + ' 객체 탐지 결과'}"></h3>
        </div>
        <div id="cctv_detect_part">
            <img id = "cctv_detect_view">
        </div>
    </div>

</div>
</body>
</html>