<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:fragment="menu">
<head>
<link th:href="@{/css/top_style.css}" rel="stylesheet">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="main">차량탐지체계</a>
    </div>
    <ul class="nav navbar-nav">
      <li class="active"><a href="main">Home</a></li>

      <li class="active"><a href="detect">차량탐지</a></li>

      <li class="active"><a href="board">탐지기록</a></li>

      <li class="active"><a href="cctv_manage">CCTV 관리</a></li>

    </ul>

    <ul class="nav navbar-nav navbar-right">
      <li><a href="#"><p id="nowtime"></p></a></li>

      <li><a href="memberEntity/register"><span class="glyphicon glyphicon-user"></span> 회원가입</a></li>
      <li><a href="memberEntity/login"><span class="glyphicon glyphicon-log-in"></span> 로그인</a></li>

    </ul>
  </div>
</nav>
</body>
</html>