@charset:utf-8;

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f9;
    margin: 0;
    padding: 20px;
    color: #333;
}

#welcome {
    margin: 100px auto;
}

#welcome img {
    width: 100%;
    max-width: 512px;
}