@charset utf-8;

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f9;
    margin: 0;
    padding: 20px;
    color: #333;
}


/* 각 파트 설정 */
#member_page {
    background-color: #ffffff;
        border-radius: 10px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        padding: 20px;
        width: 600px;
        text-align: center;
        top: auto;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);

}

h3 {
    color: #2c3e50;
    font-size: 2rem;
    padding: 7.5px 0;
    margin: 0 30px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

/* 로그인/회원가입 창 */
#member_page table {
    margin: auto;

}

#member_page th {
    text-align: right;
    padding: 2px;
    font-size: 1.3em;
}

#member_page td {
    padding: 10px 2.5px;
    font-size: 1.3em;
}

#member_page td input {
    border: none;
    border-radius: 5px;
    background-color: #f4f4f9;
    padding: 0 10px;
}

/* 버튼 스타일 */
#member_page button {
    background-color: #3498db;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-size: 1.5rem;
    transition: background-color 0.3s;
    width: 100px;
    margin: 0 3%;
}

#member_page button:hover {
    background-color: #2980b9;
}
