@charset:utf-8;
/*전체 화면 설정*/
* {
    margin: 0;
    padding: 0;
}

#wrap {
    background-color: #229bee;
    width: 100%;
    min-width: 400px;
    max-width: 1200px;
    height: 100vh;
    margin: auto;
}

/* CCTV 분석 준비 구간 */
#cctv_setting_part {
   width: calc(100% - 6px);
   border: 3px solid #229bee;
   background-color: #fff;
   height: 184px;
}

#cctv_setting_part h3 {
    color: #229bee;
}

/* 설정 상부메뉴 */
.setting_upper_part {
    height: 60px;
}

/* 지역 선택 */
.choose_location {
    width: 47%;
    padding: 5px 1.5%;
    float: left;
}

.choose_location select {
    width: 100%;
}

/* 도로 유형 선택 */
.choose_roadtype {
    width: 47%;
    padding: 5px 1.5%;
    float: left;
}

/* 지역, 도로유형 선택 적용 */
.choose_roadtype input {
    width: 30%;
    color: #fff;
    background-color: #229bee;
    border-radius: 10%;
    border: 1px solid #111fee;
}

/* 설정 하부메뉴 */
.setting_lower_part {
    height: 130px;
}

/* cctv 선택 */
.choose_cctv {
    width: 97%;
    height: 60px;
    padding: 2.5px 1.5%;
}

.choose_cctv select {
    width: 50%;
    min-width: calc(400px - 4.5%);
}

/* 탐지할 객체 선택 */
.choose_object {
     width: 97%;
     height: 60px;
     padding: 2.5px 1.5%;
}

.choose_object select {
    width: 20%
}

/* 객체 분석 및 종료 버튼 */
.choose_object input {
    width: calc(40% - 6px);
    color: #fff;
    background-color: #229bee;
    border-radius: 10%;
    border: 1px solid #111fee;
}

/* 설정 버튼 추가 설정 */
input:hover {
    background-color: #111fee;
    font-weight: bold;
}

/* CCTV 탐지 결과 표시*/
#cctv_part {
    width: calc(100% - 6px);
    height: calc(100vh - 190px);
    padding: 0 3px;
}

/* CCTV 탐지 결과 제목 */
#cctv_part h3 {
    padding: 0 1.5%;
    color: #fff;
}

/* CCTV 탐지 화면 공간*/
#cctv_detect_part {
    width: 97%;
    min-width: calc(400px - 3%);
    margin: auto;
    height: calc(100vh - 240px);
}

/* CCTV 화면 */
#cctv_detect_view {
    width: 97%;
    max-height: 700px;
    max-width: 1050px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}